/* Light mode styles */
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20%;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

#main-text {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer; /* Change cursor to indicate it's clickable */
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari and older WebKit browsers */
    -ms-user-select: none; /* For older Internet Explorer versions */
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode #main-text {
    color: #ddd;
}
